beautifulsoup4==4.12.3
datasets==2.21.0
eli5==0.13.0
gensim==4.3.3
ipynb==0.5.1
keras==3.5.0
lime==0.2.0.1
matplotlib==3.9.2
nltk==3.9.1
numpy==1.24.4
optuna==3.6.1
pandas==2.2.2
requests==2.32.3
scikit-learn==1.1.0
scipy==1.8.1
seaborn==0.13.2
spacy==3.7.6
tensorflow==2.17.0
tiktoken==0.7.0
tokenizers==0.20.0
torch==2.4.0